<div class="main">
  <p>
    <div class="description">{{localize "mtte.tileSearchDescr"}} <a href="https://creativecommons.org">Creative Commons</a>.</div>
    <div class="search"><input id="searchTiles" class="searchinput" type="text" placeholder="{{localize "mtte.search"}}"></input><button class="search"><i class="fas fa-search"></i></button></div>
    <div id="tiles" class="list">
    </div>
  </p>
  <p>
    <div class="messagebox"><i class="fas fa-check-circle"></i><span class="message"></span></div>
  </p>
</div>
<img class="logo" src="modules/fvtt-moulinette/img/moulinette-icon.png" width="60"/>
<p>This is still a prototype. Interface is minimalistic and server resources are kept small until <a href="https://www.patreon.com/moulinette" target="_blank">Patron support</a> will be enough to afford more. Join me on <a href="https://discord.gg/xg3dcMQfP2" target="_blank">Moulinette Discord</a> to follow development and support it. 
</p>
