<div class="main">
  <p>
    <div class="description">{{localize "mtte.bingSearch"}}. {{localize "mtte.see"}} <a href="https://www.bing.com" target="_blank">www.bing.com</a>.</div>
    <div class="form-group search"><input id="searchImages" class="searchinput" type="text" placeholder="{{localize "mtte.search"}}"></input><button type="submit" class="search"><i class="fas fa-search"></i></button></div>
    <div id="images" class="list">
    </div>
  </p>
  <p>
    <div class="messagebox"><i class="fas fa-check-circle"></i><span class="message"></span></div>
  </p>
</div>
