<form autocomplete="off" onsubmit="event.preventDefault();">
  <p>{{localize "mtte.forgeWelcome"}}</p>
  {{#if error}}
  <div class="error">{{error}}</div>
  {{/if}}
  {{#unless error}}
    <div class="main">
      <p>
        <h3>{{localize "mtte.scenes"}}</h3>
        <div class="description">{{localize "mtte.scenes"}} {{localize "mtte.currentlyAvailable"}}. {{localize "mtte.see"}} <a href="https://github.com/SvenWerlen/moulinette-data/tree/main/scenes" target="_blank">{{localize "mtte.scenes"}}</a>.</div>
        <div class="search"><input id="searchScenes" type="text" placeholder="{{lists.scenes.length}} {{localize "mtte.packs"}} ({{scCount}} {{localize "mtte.scenes"}}). {{localize "mtte.search"}}"></input></div>
        <div id="scenePacks" class="list">
        {{#each lists.scenes as |sc|}}
          <div for="{{sc.name}}" class="pack" title="{{sc.description}}">
            <span class="scene">
              <input type="checkbox" class="check" name="{{sc.id}}" value="{{sc.url}}">
              {{sc.name}} <small>({{sc.scenesCount}})</small>
              <i class="preview fas fa-eye"  data-id="{{sc.filename}}" title="{{localize "mtte.preview"}}"></i>
            </span>
            <a href="{{sc.source.url}}" target="_blank">{{sc.source.name}}</a>
          </div>
        {{/each}}
        </div>
      </p>
      <p>
        <div class="actions"><input type="reset" value="{{localize "mtte.clear"}}" /></div>
        <div class="actions"><input type="submit" value="{{localize "mtte.forge"}}" /></div>
        <div class="messagebox"><i class="fas fa-check-circle"></i><span class="message"></span></div>
      </p>
    </div>
    <img class="logo" src="modules/fvtt-moulinette/img/moulinette-icon.png" width="60"/>
    <p>This is still a prototype. Interface is minimalistic and server resources are kept small until <a href="https://www.patreon.com/moulinette" target="_blank">Patron support</a> will be enough to afford more. Join me on <a href="https://discord.gg/xg3dcMQfP2" target="_blank">Moulinette Discord</a> to follow development and support it. 
    </div>
  {{/unless}}
  <p><em>
    <a href="https://github.com/SvenWerlen/moulinette">{{localize "mtte.seeDoc"}}</a> {{localize "mtte.learnMore"}}
  </em></p>
  
</form>
