<form autocomplete="off" onsubmit="event.preventDefault();">
  <p>{{localize "mtte.homeWelcome"}}</p>
  {{#if error}}
  <div class="error">{{error}}</div>
  {{/if}}
  {{#unless error}}
    <table>
      <tr>
        <th>{{localize "mtte.moulinetteForge"}}</th>
        <th>{{localize "mtte.moulinetteConfig"}}</th>
      </tr>
      <tr>
        <td><img class="button forge" src="modules/fvtt-moulinette/img/moulinette-icon.png" /></td>
        <td><img class="button config" src="modules/fvtt-moulinette/img/moulinette-config.png" /></td>
      </tr>
      <tr>
        <td>{{localize "mtte.moulinetteForgeHelp"}}</td>
        <td>{{localize "mtte.moulinetteConfigHelp"}}</td>
      </tr>
    </table>
  {{/unless}}
  <p><em>
    <a href="https://github.com/SvenWerlen/moulinette">{{localize "mtte.seeDoc"}}</a> {{localize "mtte.learnMore"}}
  </em></p>
  
</form>
